html {
  /***base size***/
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before,* :after {
 box-sizing: border-box;
}

body {
  color: #262626;
  font-family: 'Montserrat';
  background-color: white;

}




/***Bio***/

.container {
  background-color: #FFE2E2;
  margin: 0 auto;
  width: 375px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  align-items: center;
  justify-content: center;

}

.TopNav {
  font-size: 1.6em;
  display: grid;
  grid-column: span 6;
  grid-gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.Logo {
  margin: 0 auto;
  padding-top: 48px;
  grid-column: span 6;
  align-items: center;
  justify-content: center;
}

.NavLinks {
  display: grid;
  grid-gap: 32px;
  margin: 0 auto;
  grid-column: span 6;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: red;
  padding-top: 8px;
  text-align: center;


}

/*.divNavLinks {
  display: grid;
  grid-gap: 32px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: red;
  padding-top: 8px;
  text-align: center;

}*/

.navmenu {
  text-decoration: none;
  color: #262626;

}

.navmenubold {
  text-decoration: none;
  color: #262626;
  font-weight: 800;
}

.Portrait {
  margin: 0 auto;
  padding-top: 72px;
  grid-column: span 6;
  display: grid;

}

.Story {
  padding: 16px;
  grid-column: span 6;
}

.Link {
  color: #FF6F61;
  font-size: 1.6em;
  text-decoration: none;
  padding-top: 16px;
}


h4{
  font-size: 1.6em;
  font-weight: 800;
  line-height: 4;
}

p {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.5;

}

footer {
  background-color: #F2F6F2;
  display: grid;
  grid-gap: 16px;
  grid-column: span 6;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 48px;
  padding-bottom: 24px;

}

.icons {
  padding-top: 32px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.CopyrightAndButton {
  display: grid;
  padding-top: 32px;
  grid-gap: 16px;
  grid-template-columns: 5fr 1fr;
  background-color: yellow;
}

.Copyright {
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #767876;
  background-color: orange;
  padding-top: 10px;
}






/***Case Study***/

.Healthvitae {
  padding: 16px;
  grid-column: span 6;
  display: grid;
}

.Hero {
  grid-gap: 16px;
  display: grid;
  margin: 0 auto;
  grid-column: span 6;
  grid-template-columns: 1fr 1fr;
}

.IntroductionStatement {
  display: grid;
  grid-column: span 6;
  margin: 0 auto;
  background-color: yellow;
  font-weight: 700;
  font-family: 'Raleway';
  font-size: 3.2em;
  line-height: 1.5;
}

.IntroductionStatementTWO {
  display: grid;
  margin: 0 auto;
  grid-column: span 6;
  background-color: green;
  font-weight: 700;
  font-family: 'Raleway';
  font-size: 3.2em;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr ;


}

.WavingHand {
  background-color: blue;

  padding-left: 8px;

}

.Statement {

  padding-left: 16px;
  padding-right: 16px;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 1.8em;
  grid-column: span 6;
}

.Project {
  display: grid;
  grid-column: span 6;
  margin: 0 auto;
}

.ProjectText {
  padding-top: 24px;
  display: grid;
  grid-column: span 6;
  text-align: center;
  margin: 0 auto;
  /*align-items: center;
  justify-content: center;*/

}

.HomepageHeroImage {

}
