html {
  /***base size***/
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before,* :after {
 box-sizing: border-box;
}

body {
  color: #3C3F3E;
  font-family: 'Montserrat';
  background-color: white;

}




/***CARE Rescue LA***/


.RoleCARE {
  grid-column: span 6;
}

.ToolCARE {
  grid-column: span 6;
  margin-top: 24px;
}

.MacHeroCare {
  margin: 0 auto;
  grid-column: span 6;
  display: grid;
/*background-color: pink;*/
  overflow:inherit;
  width: 80%;
  max-width: 1582px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.care-competitor-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 80%;
  margin-top: 40px;
}

.Industry-Analysis-logos {
  margin: 0 auto;
  padding-top: 40px;

  display: grid;
  grid-column: span 6;

}





/***Bio***/

.container {
  background-color: #FFE2E2;
  background-color: #FFFFFF;
  margin: 0 auto;
  /*width: 375px;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /*grid-gap: 16px;*/
  align-items: center;
  justify-content: center;
  width: 100%;
}

.TopNav {
  font-size: 1.6em;
  font-weight: 700;
  display: grid;
  grid-column: span 6;
  /*grid-gap: 16px;*/
  padding-left: 16px;
  padding-right: 16px;
}


.Logo {
  display: grid;
  margin: 0 auto;
  padding-top: 48px;
  grid-column: span 6;
  align-items: center;
  justify-content: center;
}

.NavLinks {
  display: grid;
  grid-gap: 48px;
  margin: 0 auto;
  grid-column: span 6;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 24px;
  text-align: center;

}



/*MenuwithPDFicon {
  grid-column: span 6;
background-color: yellow;

}*/

/*.divNavLinks {
  display: grid;
  grid-gap: 32px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: red;
  padding-top: 8px;
  text-align: center;

}*/

.navmenu {
  text-decoration: none;
  color: #CED3D3;


}



.menu {
  margin-top: 10px;
}


.navmenubold {
  text-decoration: none;
  color: #3C3F3E;
}


.navmenu:hover {
  color: #2CB3ED;

}



/*.PDFIconNavBar {
  width: 12px;
}*/

.LinkProject:hover {
  color: #2CB3ED;
}

.Portrait {
  margin: 0 auto;
  padding-top: 88px;
  padding-bottom: 20px;
  grid-column: span 6;
  display: grid;
  width: 250px;
  display: block;
  align-items: center;

}

.Story {
  /*padding: 16px;*/
  grid-column: span 6;
  max-width: 728px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

}




.Link {
  color: #2CB3ED;
  font-size: 1.6em;
  font-weight: 300;
  text-decoration: none;
  padding-top: 16px;
}

h1 {
  font-family: 'Raleway';
  font-size: 3.2em;
  font-weight: 600;
  text-align: center;
  padding-top: 88px;
}

/* If the screen size is 601px or more, set the font-size of h1 to 40px. */





h2 {
  font-family: 'Raleway';
  font-size: 2.4em;
  font-weight: 600;
  text-align: center;
  line-height: 3.2;
  padding-top: 40px;
}

h4{
  font-size: 1.6em;
  font-weight: 700;
  /*background-color: red;*/
  padding-bottom: 24px;

  /*line-height: 4;*/
}

.biotext {
  /*background-color: green;*/
  padding-bottom: 72px;
  padding-top: 16px;
}

.biotextmiddle {
  padding-top: 16px;
  padding-bottom: 16px;
}

.biotextdifferent {
  padding-bottom: 72px;
  /*background-color: yellow;*/
}

.biotextalso {
  /*background-color: orange;*/
}

p {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.7;

}

.Feedback {
  font-family: 'Raleway';
  font-size: 2.4em;
  font-weight: 200;
  font-style: italic;
  color: #3C3F3E;
}

.FeedbackStripedHorses {
  font-size: 2em;
  font-style: italic;
  line-height: 1.7;
  font-family: 'Raleway';
  font-weight: 200;
  color: #3C3F3E;
}

.FeedbackBold {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: italic;
  color: #3C3F3E;
}

.Tagline {
  font-size: 1.8em;
  /*font-family: 'Raleway';*/
  font-weight: 300;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 16px;
}

.ExtraBold {
  font-weight: 700;
}

.captions {
  font-size: 1.3em;
  font-weight: 600;
  font-family: 'Raleway';
  grid-column: span 6;

}

.research-data {
  font-style: italic;
}




footer {
  background-color: #F0F4F4;
  display: grid;
  grid-gap: 16px;
  grid-column: span 6;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 48px;
  padding-bottom: 24px;
  margin-top: 88px;
  /*max-width: 980px;*/
  /*margin: 0 auto;*/
}




.FooterText {
  grid-column: span 6;
  color: #3C3F3E;
  /*max-width: 482px;*/
}

.ResumeandPdfIcon {
  grid-column: span 6;
}

.pdfVector {
  padding-left: 4px;
}

.icons {
  margin-top: 32px;
  /*background-color: blue;*/
  display: grid;
  /*grid-gap: 5px;*/
 grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;

}

.EmailICON {
  display: grid;
  padding-top: 6px;
  grid-column: 1fr;
}

.LinkedinICON {
  display: grid;
  grid-column: 1fr;
}

.GithubICON {
  display: grid;
  grid-column: 1fr;
}



.CopyrightAndButton {
  display: grid;
  grid-column: span 6;
  grid-gap: 16px;
  grid-template-columns: 5fr 1fr;
  /*background-color: yellow;*/
}

.Copyright {
  font-family: 'Raleway';
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #3C3F3E;
  /*background-color: orange;*/
  padding-top: 12px;
}


.Chapter {
  color: #2CB3ED;
}





/***homepage***/

.Project03:hover {
  background-color: #F0F4F4;
}

.Project04:hover {
  /*background-color: #F2F6F2;*/
  background-color: #F0F4F4;

}

.Hero {
  /*background-color: orange;*/
  /*padding-top: 40px;*/
  display: grid;
  margin: 0 auto;
  grid-column: span 6;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;



}

.Ashley {
  font-size: 3.2em;
  font-weight: 600;
  font-family: 'Raleway';
  padding-left: 40px;
  /*background-color: blue;*/
}

.AshleyCoral {
  /*color: #FF6F61;*/
  color: #2CB3ED;

}

.HandIcon {
  padding-right: 30px;
  padding-bottom: 5px;
}

.WavingHand {
  width: 50px;
}

.IntroductionStatement {
  display: grid;
  grid-column: span 6;
  margin: 0 auto;
  font-weight: 600;
  font-family: 'Raleway';

}

.IntroductionStatementTWO {
  padding-top: 8px;
  display: grid;
  margin: 0 auto;
  grid-column: span 6;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: 4fr 2fr;
  /*background-color: green;*/

}

.Statement {
  /*margin-top: 40px;*/
  /*background-color: red;*/
  padding-top: 40px;

  padding-left: 16px;
  padding-right: 16px;

  padding-bottom: 56px;
  font-family: 'Raleway';
  font-weight: 200;
  font-size: 1.8em;
  grid-column: span 6;
  /*margin-bottom: 32px;*/
  max-width: 836px;
  margin: 0 auto;


}

.StatementBold {
  font-weight: 600;
}


.LinkProject {
  text-decoration: none;
  color: #3C3F3E;
}

.all-work {
  margin-left: 30px;
  margin-right: 30px;
    display: grid;
  grid-column: span 6;
}

.HomepageHeroImage {
  /*box-shadow: 0 4px 8px 0 rgba(118, 120, 118, 0.2), 0 6px 20px 0 rgba(118, 120, 118, 0.2);*/
  /*max-width: 980px;*/
  /*width: 100%;*/
  transition: transform .3s;
  width: 100%;
  margin: 0 auto;
  display: block;


}

.HomepageHeroImage02 {
  /*box-shadow: 0 4px 8px 0 rgba(118, 120, 118, 0.2), 0 6px 20px 0 rgba(118, 120, 118, 0.2);*/
  /*max-width: 980px;*/
  /*width: 100%;*/
  transition: transform .3s;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.HomepageHeroImageStriped {
  /*box-shadow: 0 4px 8px 0 rgba(118, 120, 118, 0.2), 0 6px 20px 0 rgba(118, 120, 118, 0.2);*/
  /*max-width: 980px;*/
  /*width: 100%;*/
  transition: transform .3s;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.LinkProjectCaseStudy {
  text-decoration: none;
  color: #3C3F3E;
}


.ProjectTextBold {
  font-weight: 700;
  text-decoration: none;
  text-align: center;

  line-height: 2.2;
}


/***case study***/

.Healthvitae {
  overflow:inherit;
width: 100%;
grid-column: span 6;

}

.Title {
  max-width: 836px;
  margin: 0 auto;
  /*padding-left: 16px;
  padding-right: 16px;*/
}

.MacHero {
  margin: 0 auto;
  grid-column: span 6;
  display: grid;
/*background-color: pink;*/
  overflow:inherit;
  width: 100%;
  max-width: 1582px;
  margin: 0 auto;

}

.MacHeroFluffy {
  margin: 0 auto;
  grid-column: span 6;
  display: grid;
/*background-color: pink;*/
  overflow:inherit;
  width: 80%;
  max-width: 1582px;
  margin: 0 auto;

}

.RoleAndTool {
  background-color: #F0F4F4;
  align-items: center;
  justify-content: center;
  display: grid;
  padding-top: 22px;
  padding-bottom: 24px;
  color: #3C3F3E;
  line-height: 1.3;
  margin-top: 40px;
}

.RoleAndToolStripedHorses {
  background-color: #F0F3F5;
  align-items: center;
  justify-content: center;
  display: grid;
  padding-top: 22px;
  padding-bottom: 24px;
  color: #3C3F3E;
  line-height: 1.3;
  margin-top: 40px;
}

.RoleAndToolHealth {
  background-color: #F0F4F4;
  align-items: center;
  justify-content: center;
  display: grid;
  padding-top: 22px;
  padding-bottom: 24px;
  color: #3C3F3E;
  line-height: 1.3;
  margin-top: 40px;
}

.RoleToolBold {
  font-weight:700;
}

.RoleToolBoldStripedHorses {
  font-weight:700;
}

.RoleToolBoldHealth {
  font-weight:700;
}

.Role {
  grid-column: span 6;
}

.RoleStripedHorses {
  grid-column: span 6;
}

.RoleHealth {
  grid-column: span 6;
}

.Tool {
  grid-column: span 6;
  margin-top: 24px;
}
.ToolStripedHorses {
  grid-column: span 6;
  margin-top: 24px;
}

.ToolHealth {
  grid-column: span 6;
  margin-top: 24px;
}



.prototype-button {
  background-color: #2CB3ED;
  width: 200px;
  font-size: 1.6em;
  font-family: 'Raleway';
  font-weight: 600;
  color: #FFFFFF;
  text-decoration: none;
  height: 48px;
  border-radius: 40px;
  text-align: center;
  grid-column: span 6;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding-top: 15px;
}


.prototype-buttonStripedHorses {
  background-color: #E3607F;
  width: 230px;
  font-size: 1.6em;
  font-family: 'Raleway';
  font-weight: 600;
  color: #FFFFFF;
  text-decoration: none;
  height: 48px;
  border-radius: 40px;
  text-align: center;
  grid-column: span 6;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding-top: 15px;
}

.prototype-buttonHealth {
  background-color: #B4ED7A;
  width: 200px;
  font-size: 1.6em;
  font-family: 'Raleway';
  font-weight: 600;
  color: #3C3F3E;
  text-decoration: none;
  height: 48px;
  border-radius: 40px;
  text-align: center;
  grid-column: span 6;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding-top: 15px;
}

.Prototypebuttonend {
  margin: 0 auto;
  display: grid;
  grid-column: span 6;
}

.PrototypebuttonendStriped {

  display: grid;
  text-align: center;
  grid-column: span 6;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

}

.viewprototypeb {
  background-color: #2CB3ED;
  width: 200px;
  font-size: 1.6em;
  font-family: 'Raleway';
  font-weight: 600;
  color: #FFFFFF;
  text-decoration: none;
  height: 48px;
  border-radius: 40px;
  text-align: center;
  padding-top: 17px;
  margin-top: 40px;
}

.viewprototypebStriped {
  background-color: #E3607F;
  width: 230px;
  font-size: 1.6em;
  font-family: 'Raleway';
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  text-decoration: none;
  height: 48px;
  border-radius: 40px;
  text-align: center;
  padding-top: 17px;
  margin-top: 40px;
}

.UserStoriesButton {
 display: none;
}

.ButtonUserFlows {
  display: none;
}

.StyleGuideButton {
  display: none;
}


.lofiwireframebutton {
  display: none;
}

.lofiwireframebuttonStriped {
  display: none;
}

.LeftCatStriped {
  display: none;
}

.hifimockupbutton {
  display: none;
}

.button-user-stories {
  background-color: #2CB3ED;
  width: 215px;
  font-size: 1.6em;
  font-family: 'Raleway';
  font-weight: 600;
  color: #FFFFFF;
  text-decoration: none;
  height: 48px;
  border-radius: 40px;
  padding-top: 17px;
  display: inline-block;
  margin: 0 auto;
}

.button-user-storiesStriped {
  background-color: #E3607F;
  width: 230px;
  font-size: 1.6em;
  font-family: 'Raleway';
  font-weight: 600;
  color: #FFFFFF;
  text-decoration: none;
  height: 48px;
  border-radius: 40px;
  padding-top: 17px;
  display: inline-block;
  margin: 0 auto;
  padding-top: 15px;
}

.Divider {
  display: grid;
  grid-column: span 6;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-top: 64px;

}

.PaddingforOverview {
  padding-left: 16px;
  padding-right: 16px;
}

.Intro {
  display: grid;
  grid-column: span 6;
  /*padding-left: 16px;
  padding-right: 16px;*/
  max-width: 696px;
  margin: 0 auto;
}

.DashboardCaseStudy {
  margin: 0 auto;
  grid-column: span 6;
  display: grid;
  margin-top: 24px;
  box-shadow: 0 4px 8px 0 rgba(118, 120, 118, 0.2), 0 6px 20px 0 rgba(118, 120, 118, 0.2);
  width: 100%;
}

.Problem {
  display: grid;
  grid-column: span 6;
  /*padding-left: 16px;
  padding-right: 16px;*/
  max-width: 696px;
  margin: 0 auto;
}

.Solution {
  display: grid;
  grid-column: span 6;
  /*padding-left: 16px;
  padding-right: 16px;*/
  max-width: 696px;
  margin: 0 auto;
}

.Process {
  display: grid;
  grid-column: span 6;
  /*padding-left: 16px;
  padding-right: 16px;*/
  padding-bottom: 80px;
  max-width: 696px;
  margin: 0 auto;
}

.NumberCoral {
  color: #2CB3ED;
}

.NumberHealth {
  color: #90DC43;
}

.NumberCare {
  color: #2A41D7;
}
.NumberStriped {
  color: #E3607F;
}

.PhaseBold {
  font-weight: bold;
  color: #2CB3ED;
}

.PhaseBoldCARE {
  font-weight: bold;
  color: #2A41D7;
}

.WholeProcessBG {
  /*background-color: #F0F4F4;*/

  padding-bottom: 64px;
}

.test {
  max-width: 696px;
  margin: 0 auto;

}

.Understanding {
  max-width: 696px;
  margin: 0 auto;

}

.research-percentage {
  font-size: 2.4em;
  font-family: 'Raleway';
  font-weight: 600;
  color: #2CB3ED;
}

.research-percentageHealth {
  font-size: 2.4em;
  font-family: 'Raleway';
  font-weight: 600;
  color: #90DC43;
}

.research-percentageCARE {
  font-size: 2.4em;
  font-family: 'Raleway';
  font-weight: 600;
  color: #2A41D7;
}

.research-percentageStripes {
  font-size: 2.4em;
  font-family: 'Raleway';
  font-weight: 600;
  color: #7A9FB9;
}

.research-percentageStripedHorses {
  font-size: 1.6em;
  line-height: 1.3;
  letter-spacing: 0.5px;
  font-family: 'Raleway';
  font-weight: 600;
  color: #7A9FB9;
  text-transform: uppercase;


}

.CompetitiveAnalysis02 {
  /*padding-left: 16px;
  padding-right: 16px;*/
  padding-bottom: 24px;
  max-width: 696px;
  margin: 0 auto;
}

.CompetitiveTextBold {
  color: #2CB3ED;
  font-weight: 700;
}

.CompetitiveTextBoldHealth {
  font-weight: 700;
}

.CompetitiveTextBoldCat {
  font-weight: 700;
}

.ThreeCompetitors {
  /*background-color: #FFFFFF;
  padding-left: 16px;
  padding-right: 16px;*/
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 32px;

}

.CompetitorsIcon {
  display: block;
  margin: 0 auto;
  height: 40px;

}

.PracticeFusionText {
  margin-top: 40px;
}

.GoogleDriveText {
  margin-top: 40px;

}

.DropBoxText {
  margin-top: 40px;
}

.MacBook {
  margin: 0 auto;
  grid-column: span 6;
  display: grid;
  /*background-color: pink;*/
  overflow:inherit;
  width: 100%;
  padding-top: 56px;
  max-width: 622px;
  margin: 0 auto;

}




.ProcessImages {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
}

.SitemapUserFlowImage {
  /*background-color: green;*/
  width: 100%;
  margin-top: 56px;
}

/*      ---------------------------- Striped Horses -----------------------------       */

.UserStripedHorses {
  display: grid;
  grid-column: span 6;
  /*padding-left: 230px;
  padding-right: 230px;*/
  max-width: 696px;
  margin: 0 auto;

  grid-column-gap: 75px;
  margin-top: 20px;
  /*padding-top: 123px;*/
}

.UserPhoto {
display: block;
width: 100%;
}

.ProcessDetailsStripedHorses {
  /*background-color: #F0F3F5;*/
}



/*      ---------------------------- More Than Fluffy -----------------------------       */


.DashboardCaseStudyCat {
  margin: 0 auto;
  grid-column: span 6;
  display: grid;
  margin-top: 24px;
  width: 100%;
}


.CompetitorTitle {
  text-align: center;
}



.ThreePeoplePersona {
  display: block;
  margin: 0 auto;
  grid-column: span 6;
  max-width: 696px;
}

.Persona01 {

}



.Wireframeimage {
  margin: 0 auto;
  grid-column: span 6;
  display: grid;
  /*background-color: red;*/
  overflow:inherit;
  width: 100%;
  /*padding-top: 56px;*/
  max-width: 980px;
  margin: 0 auto;
}

.PromoLandingPhotoStriped {
  margin: 0 auto;
  grid-column: span 6;
  display: grid;
  /*background-color: red;*/
  overflow:inherit;
  width: 100%;
  /*padding-top: 56px;*/
  max-width: 980px;
  margin: 0 auto;
}



h6 {
  font-weight: 700;
  font-size: 1.6em;
  /*color: #FF6F61;*/
  padding-top: 32px;
  line-height: 1.6;
  /*padding: 10px 16px 10px 0;*/

}



.CatConclusion {
  list-style: disc;
  list-style-position: outside;
  margin-left: 1.2em;
  font-size: 1.6em;
  font-weight: 300;

  line-height: 1.6;
}


/* -------- User Testing Round 02 ----------------------*/
.UserTesting02 {
  display: grid;
  margin: 0 auto;
  max-width: 250px;
  box-shadow: 0 4px 8px 0 rgba(118, 120, 118, 0.2), 0 6px 20px 0 rgba(118, 120, 118, 0.2);

}

.BeforeAfter {
  display: grid;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  color: #2CB3ED;
  /*padding-left: 16px;*/
  margin-top: 15px;
}


.PreferenceCatTitle {
  text-align: center;
  margin-top: 100px;
  font-family: 'Raleway';
  font-size: 2.4em;
  font-weight: 200;
  padding-top: 32px;
  line-height: 1.6;
  padding: 10px 16px 10px 0;
}

.PreferenceTestingImages {
  display: grid;
  width: 73%;
 grid-column: span 3;
  margin: 0 auto;

}

.group01 {
  display: grid;
grid-template-columns: 3fr 3fr;
 margin: 0 auto;

}
.group02 {
  display: grid;
  grid-template-columns: 3fr 3fr;
  margin: 0 auto;

}
.group03 {
  display: grid;
  grid-template-columns: 3fr 3fr;
  margin: 0 auto;

}

.PreferenceYes {
/*width: 184px;*/
grid-column: 1fr;
color: #2CB3ED;

padding-top: 30px;
width: 100%;
text-align: center;
margin: 0 auto;
}
.PreferenceNo {
/*width: 184px;*/
grid-column: 1fr;

padding-top: 30px;
width: 100%;
text-align: center;
margin: 0 auto;
}
/*      ---------------------------- More Than Fluffy -----------------------------       */



.Personawidth {
  max-width: 696px;
  margin: 0 auto;
}

.PersonaCentered {
  grid-column: span 6;
  text-align: center;
}

.PersonaPortrait {
  margin: 0 auto;
  grid-column: span 6;
  display: grid;
  padding-top: 24px;

}

/*.Personas {
  padding-left: 16px;
  padding-right: 16px;
}*/

.MillenialPersona {
  background-color: #FFFFFF;
  /*margin-left: 16px;
  margin-right: 16px;*/
  margin: 56px auto auto auto ;
  padding-bottom: 24px;
  border-radius: 8px;
  max-width: 443px;

}

.GenXPersona {
  background-color: #FFFFFF;
  /*margin-left: 16px;
  margin-right: 16px;*/
  margin: 40px auto auto auto;
  padding-bottom: 24px;
  border-radius: 8px;
  max-width: 443px;


}



h3 {
  font-weight: 700;
  font-size: 1.6em;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  line-height: 1.6;
}

.MillenialGenX {
  font-family: 'Raleway';
  font-size: 2.4em;
  font-weight: 600;
  color: #2CB3ED;
}

.MillenialGenXHealth {
  font-family: 'Raleway';
  font-size: 2.4em;
  font-weight: 600;
  color: #90DC43;
}

.Frustrations {
  list-style: disc;
  list-style-position: inside;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.6;
  padding: 10px 16px 10px 33px;
  text-indent: -1em;

}

.Goals {
  list-style: disc;
  list-style-position: inside;
  font-size: 1.6em;
  font-weight: 300;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1.6;
  padding: 10px 16px 10px 33px;
  text-indent: -1em;
}



.UserStories {
  max-width: 696px;
  margin: 0 auto;
}

.UserStoriesWidth {
  max-width: 696px;
  margin: 0 auto;
}

h5 {
  font-weight: 700;
  font-size: 1.6em;
  color: #2CB3ED;
  padding-top: 32px;
  line-height: 1.6;
  padding: 10px 16px 10px 0;

}
.RightUserStory {
  margin-top: 16px;
}

.NewUser {
  list-style: disc;
  list-style-position: inside;
  font-size: 1.6em;
  font-weight: 300;

  line-height: 1.6;

}

.ReturningUser {
  list-style: disc;
  list-style-position: inside;
  font-size: 1.6em;
  font-weight: 300;

  line-height: 1.6;
}


.SitemapUserFlows {
  /*padding-left: 16px;
  padding-right: 16px;*/
  max-width: 696px;
  margin: 0 auto;

}


.SitemapUserFlowsStripedHorses {
  /*padding-left: 16px;
  padding-right: 16px;*/
  max-width: 696px;
  margin: 0 auto;

}


.LowFidelityWireframesWidth {
  max-width: 696px;
  margin: 0 auto;
}


.UserTestingWidth {
  max-width: 696px;
  margin: 0 auto;
}

.ListUserTesting {
  max-width: 412px;
  margin: 0 auto;
}

.ExecutionText {
  /*padding-left: 16px;
  padding-right: 16px;*/
  max-width: 696px;
  margin: 0 auto;
}

.UserTestingHighlights {
  list-style: disc;
  list-style-position: inside;
  font-size: 1.6em;
  font-weight: 300;
  padding-top: 32px;
  line-height: 1.6;
  text-indent: -1em;
}

.HealthvitaeLOGO {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  width: 297px;
}

.PreferenceTopText {
  /*background-color: red;*/
  margin-top: 56px;
  /*padding-left: 16px;*/
  /*font-weight: 700;
  color: #FF6F61;*/
}

.ChosenOne{
  font-weight: 700;
  color: #2CB3ED;
  /*padding-left: 16px;*/
  margin-top: 15px;
}
.Preference {
  /*background-color: yellow;*/
  margin-top: 15px;
}

.PreferenceImages {
  /*display: block;*/
  margin: 0 auto;
  width: 100%;
}

.PreferenceWidth {
  max-width: 696px;
  margin: 0 auto;
}

.Legibility {
  padding-top: 32px;

  list-style:decimal;
  list-style-position: outside;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.6;
  margin-left: 24px;
}

.Cohesiveness {
  list-style: decimal;
  list-style-position: inside;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.6;

}

.ImageRight {
  margin-top: 32px;
}

.ImageBottom {
  margin-top: 16px;
}

.Conclusion {
  display: grid;
  grid-column: span 6;

  margin-bottom: 40px;
  max-width: 696px;

  margin: 0 auto;
}

.ConclusionandButton {
  display: grid;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  /*margin-bottom: 80px;*/
}

.BackToTopButton {
  display: none;
}





/* Media Queries */


@media screen and (min-width: 375px){

  .SubTitle {
    text-align: left;
    font-family: 'Raleway';
    color: #E3607F;
    font-size: 1.6em;
    font-weight: 600;
    padding-top: 40px;

  }

  .all-work {
    display: flex;
    flex-wrap: wrap;
    /*background-color: yellow;*/
    /*justify-content: center;
    align-items: center;*/
    max-width: 720px;
    /*max-width: 1224px;*/
    margin: 0 auto;

    }

  .ProjectText {
    margin-top: 22px;
    display: grid;
    grid-column: span 6;
    text-align: center;

  }

  .ProjectTextCat {
    margin-top: 22px;

    display: grid;
    grid-column: span 6;
    text-align: center;

  }

  .HomepageHeroImage {
    /*width: 530px;*/
    margin: 0 auto;
    width: 90%;

    display: block;
    padding-top: 20px;
  }
  .HomepageHeroImage02 {
    /*width: 420px;*/
    margin: 0 auto;
    width: 80%;
    display: block;
    padding-top: 20px;
  }

  .HomepageHeroImage04 {
    /*width: 420px;*/
    margin: 0 auto;
    width: 70%;
    display: block;
    margin-top: 20px;
  }
  .HomepageHeroImageStriped {
    /*width: 420px;*/
    margin: 0 auto;
    width: 50%;
    display: block;
    padding-top: 38px;
  }

  .Project {
    /*height: 310px;*/
    background-color: #F0F4F4;
    border-radius: 2px;
    height: 350px;
    width: 350px;
    display: grid;
    grid-column: span 6;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .Project:hover {
    background-color: #2CB3ED;
  }

  .Project02 {
    /*height: 300px;*/
    background-color: #F0F4F4;
    border-radius: 2px;
    height: 350px;
    width: 350px;
    display: grid;
    grid-column: span 6;
    margin: 0 auto;
    margin-bottom: 10px;
    /*padding-top: 50px;*/
  }
  .Project02:hover {
    background-color: #2CB3ED;
  }

  .Project03 {
    /*height: 310px;*/
    /*background-color: #F2F6F2;*/
    height: 350px;
    width: 350px;

    border-radius: 2px;
    display: grid;
    grid-column: span 6;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px;

  }



  .Project04 {
    /*height: 300px;*/
    /*background-color: #F2F6F2;*/
    height: 350px;
    width: 350px;
    border-radius: 2px;
    display: grid;
    grid-column: span 6;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px;

  }


.Story  {
  padding-top: 50px;
}

  /*.container {
    padding-left: 16px;
    padding-right: 16px;
  }*/

.Title {
  padding-left: 50px;
  padding-right: 50px;
}

.PaddingProcessDetails {
  padding-left: 16px;
  padding-right: 16px;
}



.GridEmail {
  margin-top: 40px;
}

.ResumeandPdfIcon {
  margin-top: 40px;
}

.CopyrightAndButton {
  margin-top: 48px;
}

.icons {
  padding-top: 16px;
}

}


.CompetitorTitleStripedHorses {
  text-align: left;
  margin-bottom: -40px;
  padding: 0 auto;
}


@media screen and (min-width: 991px){

  /*** Striped Horses ***/
  .SubTitle {
    text-align: left;
    font-family: 'Raleway';
    color: #E3607F;
    font-size: 1.6em;
    font-weight: 600;
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: blue;

  }
  .CompetitorTitleStripedHorses {
    text-align: center;
    margin-bottom: -20px;
  }

  /***CARE Rescue LA***/

  .RoleCARE {
    display: grid;
    grid-column: span 3;
    margin: 0 auto;
    text-align: center;
  }

  .ToolCARE {
    display: grid;
    grid-column: span 3;
    margin: 0 auto;
    text-align: center;

  }

  .MacHeroCare {
    margin: 0 auto;
    grid-column: span 6;
    display: grid;
  /*background-color: pink;*/
    overflow:inherit;
    width: 69%;
    max-width: 1582px;
    margin: 0 auto;

  }

  .care-competitor-logo {
    display: grid;
    margin: 0 auto;
    max-height: 50%;

  }

  /*.care-competitor-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 80%;
    margin-top: 40px;
  }*/

  .Industry-Analysis-logos {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 200px 167px;
    width: 980px;
    grid-gap: 206px;

  }


  .CAREPersonas {
    display: grid;
    grid-column: span 2;
    width: 980px;
    margin: 0 auto;



  }


  /***  ***/


  .ProjectText {
    margin-top: 28px;
    display: grid;
    grid-column: span 6;
    text-align: center;

  }

  .ProjectTextCat {
    margin-top: 52px;
    display: grid;
    grid-column: span 6;
    text-align: center;

  }

  .all-work {
    display: flex;
    flex-wrap: wrap;
    /*background-color: yellow;*/
    /*justify-content: center;
    align-items: center;*/
    max-width: 1020px;
    /*max-width: 1224px;*/
    margin: 0 auto;

    }

    .Project {
      width: 500px;
      /*margin-right: 100px;*/
      background-color: #F0F4F4;
      height: 500px;
      border-radius: 2px;


    }

    .Project:hover {
      background-color: #2CB3ED;
    }

    .Project02 {
      width: 500px;
      /*background-color: green;*/
      /*background-color: #F2F6F2;*/
      padding-top: 5px;
      height: 500px;
      margin-bottom: 10px;
      border-radius: 2px;

      /*margin-right: 50px;*/
    }

    .Project02:hover {
      background-color: #2CB3ED;
    }

    .Project03 {
      width: 500px;
      /*margin-right: 100px;*/
      /*background-color: #F2F6F2;*/

      height: 500px;
      /*margin-top: 64px;*/
      border-radius: 2px;

    }



    .Project04 {
      width: 500px;
      /*background-color: #F2F6F2;*/

      padding-top: 5px;
      height: 500px;
      margin-bottom: 10px;
      /*margin-right: 50px;*/
      /*margin-top: 64px;*/
      border-radius: 2px;
    }



  /*  .Project03 {
      width: 520px;
      background-color: blue;
      padding-top: 5px;
      height: 500px;
      margin-bottom: 10px;
      margin-right: 50px;
      margin-top: 300px;
    }*/

      .HomepageHeroImage {
        width: 530px;
        margin: 0 auto;
        display: block;
        padding-top: 45px;
      }
      .HomepageHeroImage02 {
        width: 420px;
        margin: 0 auto;
        display: block;
        padding-top: 40px;
      }

      .HomepageHeroImageStriped {
        width: 300px;
        margin: 0 auto;
        display: block;

      }

      .HomepageHeroImage04 {
        width: 370px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        border-radius: 2px;
      }

  /*      ---------------------------- More Than Fluffy -----------------------------       */


  .MacHeroFluffy {
    margin: 0 auto;
    grid-column: span 6;
    display: grid;
  /*background-color: pink;*/
    overflow:inherit;
    width: 69%;
    max-width: 1582px;
    margin: 0 auto;

  }




  .ThreePeoplePersona {
    max-width: 1156px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 550px 550px;
    grid-gap: 56px;
    padding-top: 65px;
}

  .AlreadyPetOwner {
    /*background-color: red;*/
  }

  .Persona01 {
    display: grid;
    width: 550px;


  }

  .Persona02 {
    display: grid;
    width: 550px;
  }

  .FirstTimeCatOwner {
    display: grid;
    grid-column: span 2;
    /*background-color: orange;*/
    width: 550px;
    margin: 0 auto;

  }

  .Persona03 {
    width: 550px;
  }


  .SitemapTextCat {
    display: grid;
    grid-column: span 6;
    height: 240px;
    max-width: 696px;
  }

  .SitemapTextStripedHorses {
    display: grid;
    grid-column: span 6;
    height: 240px;
    max-width: 696px;
  }

  .UserTestingCat {
   max-width: 1124px;
   margin: 0 auto;
   display: grid;
  }

  .WhatNextStriped {
   max-width: 980px;
   margin: 0 auto;
   display: grid;
  }

  .UserTestingCatWidth {
    display: grid;
    max-width: 696px;
    grid-column: span 6;
    margin: 0 auto;
    /*background-color: pink;*/
  }

  .UserTestingCatList {
    display: grid;
    grid-template-columns: 3fr 3fr;
    margin-top: 50px;
    max-width: 1124px;
    grid-gap: 32px;
  }

  .UserTestingStriped {
    display: grid;
    grid-template-columns: 3fr 3fr;
    margin-top: 50px;
    width: 980px;
    grid-gap: 32px;
    background-color: green;
  }

  .CatConclusion {
    list-style: disc;
    list-style-position: outside;
    margin-left: 1.2em;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.6;
  }

  .LeftCat {
    display: grid;
    margin: 0 auto;
    /*background-color: green;*/
    grid-column: 3fr;
 }

 .LeftCatStriped {
   display: grid;
   margin: 0 auto;
   /*background-color: green;*/
   grid-column: 3fr;
}

  .RightCat {
    display: grid;
    margin: 0 auto;
    grid-column: 3fr;
   padding-top: 18px;
    height: 200px;
  }
  .RightCatText {
    display: grid;
    grid-column: span 6;

  }

  .RightCatConclusion {
    display: grid;
    grid-column: span 6;
  }

.ConclusionText {
  /*background-color: pink;*/
  margin-top: 20px;
}


.SKETCHESWIREFRAMES {
  /*background-color: green;*/
  padding-top: 50px;
  padding-bottom: 30px;
}

.BrandingTextCat {
  display: grid;
  grid-column: span 6;
}

.BrandingLogoCat {
  display: grid;
  grid-column:span 6;
  margin: 0 auto;
  width: 412px;
  margin-top: 20px;
}

.containerUserTesting02 {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  /*padding-left: 301px;
  padding-right: 301px;*/
  grid-column-gap: 32px;
  grid-row-gap: 90px;
  margin-top: 70px;
  padding-top: 70px;
  max-width: 1124px;
  margin: 0 auto;
  /*padding-top: 123px;*/
}


.BeforeAfter {
font-weight: 700;
color: #2CB3ED;
/*padding-left: 16px;*/
margin-top: 15px;
}

.UserTesting02 {
  display: grid;
grid-column: 1fr;
 box-shadow: 0 4px 8px 0 rgba(118, 120, 118, 0.2), 0 6px 20px 0 rgba(118, 120, 118, 0.2);

}

.PreferenceCatTitle {
  margin-top: 200px;

}


.PreferenceCatTitle {
  /*padding-left: 301px;
  padding-right: 301px;*/
  padding-top: 150px;
  margin: 0 auto;
  text-align: center;
  /*padding-top: 123px;*/
}

.PreferenceTestingContainer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  /*padding-left: 301px;
  padding-right: 301px;*/
  grid-column-gap: 64px;
  padding-left: 123px;
  padding-right: 123px;
  /*width: 1266px;*/
  margin: 0 auto;
  /*padding-top: 123px;*/
}

.group01 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;

 /*background-color: yellow;*/
}
.group02 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;

  /*background-color: blue;*/
}
.group03 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;

}

.PreferenceYes {
font-weight: 700;
grid-column: 1fr;
color: #2CB3ED;
/*padding-left: 16px;*/
/*background-color: red;*/
margin-top: 15px;
}
.PreferenceNo {
font-weight: 300;
grid-column: 1fr;
/*padding-left: 16px;*/
/*background-color: red;*/
margin-top: 15px;
}
.PreferenceTestingImages {
  display: grid;
  /*max-width: 250px;*/
  grid-column: 1fr;
  width: 100%;

}

  /*      ---------------------------- More Than Fluffy -----------------------------       */



  .WholeProcessBG {
   padding-bottom: 128px;
  }


  .Divider {
    /*margin-top: 178px;*/
    margin-top: 128px;

  }





  .Tagline {

    margin-bottom: 44px;
    margin-top: 16px;
  }

  .Portrait {
    padding-top: 190px;

  }

  .Story {
    padding-top: 100px;
  }


h1 {
  padding-top: 190px;

}

/*h2 {

  padding-top: 200px;
}*/

.Statement {
  padding-bottom: 150px;
  font-size: 2.4em;
  padding-top: 72px;
}


.IntroductionStatement {
  font-size: 4em;
}

.Ashley {
  font-size: 4em;
}

/*.ThreePeoplePersona {
  max-width: 1156px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 550px 550px;
  background-color: yellow;
  grid-gap: 56px;
}

.Persona01 {
  display: grid;
  width: 550px;

}

.Persona02 {
  display: grid;
  width: 550px;
}*/





/*.HomepageHeroImage {
  max-width: 980px;

}*/

.HeroPage {
  font-size: 4em;
}

.Tagline {
  font-size: 2.4em;
}



.DashboardCaseStudy {
  max-width: 980px;
  margin-top: 64px;
}

.RoleAndTool {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  padding-left: 230px;
  padding-right: 230px;
  grid-gap: 16px;
  height: 192px;
  margin-top: 64px;

}

.RoleAndToolStripedHorses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  padding-left: 230px;
  padding-right: 230px;
  grid-gap: 16px;
  height: 192px;
  margin-top: 64px;

}

.RoleAndToolHealth {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  padding-left: 230px;
  padding-right: 230px;
  grid-gap: 16px;
  height: 192px;
  margin-top: 64px;

}


.Role {
  display: grid;
  grid-column: span 2;
  /*background-color: yellow;*/
  margin: 0 auto;
}
.RoleStripedHorses {
  display: grid;
  grid-column: span 2;
  /*background-color: yellow;*/
  margin: 0 auto;
}

.RoleHealth {
  display: grid;
  grid-column: span 2;
  /*background-color: yellow;*/
  margin: 0 auto;
}

.ToolStripedHorses {
  display: grid;
  grid-column: span 2;
  /*background-color: pink;*/
  margin: 0 auto;
}

.ToolHealth {
  display: grid;
  grid-column: span 2;
  /*background-color: pink;*/
  margin: 0 auto;
}

.prototype-button {
  display: grid;
  grid-column: span 2;
  margin: 0 auto;
  padding-bottom: 15px;
}

.prototype-buttonStripedHorses {
  display: grid;
  grid-column: span 2;
  margin: 0 auto;
  padding-bottom: 15px;
}

.prototype-buttonHealth {
  display: grid;
  grid-column: span 2;
  margin: 0 auto;
  padding-bottom: 15px;
}

h2 {
  /*margin-top: 180px;*/
  margin-top: 88px;
}


/*              More Than Fluffy                 */

/*   Template   */
/*.ConceptAndBranding {
  max-width: 980px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 490px 490px ;
}

.BrandingText {
  display: grid;
  height: 300px;
  width: 412px;
}*/



/*.Intro {

  margin-top:125px;
}

.Problem {
  margin-top:125px;
}

.Solution {
  margin-top:115px;

}

.Process {
  margin-top: 115px;
}*/


.containerresearch {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  padding-left: 230px;
  padding-right: 230px;
  grid-column-gap: 75px;
  grid-row-gap: 40px;
  margin-top: 70px;
  /*padding-top: 123px;*/
}

.ResearchHighlightsStripedHorses {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  max-width: 980px;
  margin: 0 auto;

  grid-column-gap: 75px;
  grid-row-gap: 40px;
}

.containerresearchStripedHorses {
  display: grid;
  grid-template-columns: 3fr 3fr;
  /*padding-left: 230px;
  padding-right: 230px;*/
  max-width: 980px;
  margin: 0 auto;

  grid-column-gap: 75px;
  grid-row-gap: 40px;
  margin-top: 70px;
  /*padding-top: 123px;*/
}

.MomQuotesStripedHorses {
  display: grid;
  grid-template-columns: 1fr 5fr;
  /*padding-left: 230px;
  padding-right: 230px;*/
  max-width: 696px;
  margin: 0 auto;

  grid-column-gap: 16px;
  grid-row-gap: 32px;
  margin-top: 70px;
  /*padding-top: 123px;*/
}

.UserStripedHorses {
  display: grid;
  grid-template-columns: 3fr 3fr;
  /*padding-left: 230px;
  padding-right: 230px;*/
  max-width: 696px;
  margin: 0 auto;

  grid-column-gap: 75px;
  margin-top: 20px;
  /*padding-top: 123px;*/
}

.UserPhoto {
grid-column: 3fr;
width: 100%;
}


.CompetitiveAnalysis {
  /*margin-top: 152px;*/
  display: grid;
  /*grid-template-columns: 200px 200px 200px;*/
  /*grid-gap: 16px;*/
  /*background-color: yellow;*/
}

.CompetitiveAnalysis02 {
  grid-column: span 6;
}

.ThreeCompetitors {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 80px;
  padding-left: 123px;
  padding-right: 123px;
  margin-top: 80px;
  padding-top: 48px;
  /*margin-top: 123px;
  margin-bottom: 128px;*/
}

.ThreeCompetitorsStripedHorses {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 40px;
  padding-left: 123px;
  padding-right: 123px;
  margin-top: 80px;
  padding-top: 48px;
  /*margin-top: 123px;
  margin-bottom: 128px;*/
}

.UserStoriesButton {
 display: inline;
 margin: 100px auto 0 auto;
 text-align: center;
 grid-column: span 6;
}

.UserStoriesButtonStriped {
 display: inline;
 margin: 100px auto 0 auto;
 text-align: center;
 grid-column: span 6;
}

.ButtonUserFlows {
  display: inline;
}

 /*.UserStories {
  max-width: 696px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 340px 340px;
  grid-gap: 20px;
  background-color: #fff;
 }*/

 .UserStories {
  max-width: 696px;
  margin: 0 auto;
  display: grid;
 }

 .UserStoriesWidth {
   display: grid;
   grid-column: span 6;
   margin: 0 auto;
   /*background-color: pink;*/
 }

 .UserStoriesList {
   display: grid;
   grid-template-columns: 2fr 2fr;
   margin-top: 50px;
   /*background-color: red;*/
   width: 696px;
   grid-gap: 16px;
 }

 .RightUserStory {
   display: grid;
   margin: 0 auto;
   /*background-color: blue;*/
   width: 340px;
 }

 .LeftUserStory {
   display: grid;
   margin: 0 auto;
   /*background-color: green;*/
   width: 340px;
 }

 /*.Personas {
   display: grid;
   grid-template-columns: 3fr 3fr;
   grid-gap: 16px;
   background-color: green;
   margin: 0 auto;
 }*/

 .Persona {
   display: grid;
/*grid-column: span 6;*/
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   margin: 0 auto;
   /*padding-left:214px;
   padding-right: 214px;*/
 }

.Personawidth {
  grid-column: span 6;
}

.TwoPeoplePersona {
  display: grid;
grid-column: span 6;
grid-template-columns: 3fr 3fr;
 /*grid-gap: 126px;*/
  /*height: 648px;*/
  margin: 0 auto;
  /*padding-left: 214px;
  padding-right: 214px;*/
  grid-gap: 63px;
  margin-top: 100px;


}

.MillenialPersona {
  margin: 0 auto;

}

.GenXPersona {
  margin: 0 auto;

}

/*.MillenialPersona {
  padding-left: 16px;
  padding-right: 16px;
}

.GenXPersona {
  padding-left: 16px;
  padding-right: 16px;

}*/

.SitemapText{
  display: grid;
  grid-column: span 6;
  height: 100px;
}

.SitemapUserFlows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-gap: 32px;
  /*padding-left: 230px;
  padding-right: 230px;*/
  margin: 0 auto;
}

.SitemapUserFlowsStripedHorses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-gap: 32px;
  /*padding-left: 230px;
  padding-right: 230px;*/
  margin: 0 auto;
}


.ButtonUserFlows {
  background-color: #2CB3ED;
  width: 220px;
  font-size: 1.6em;
  font-family: 'Raleway';
  font-weight: 600;
  color: #FFFFFF;
  text-decoration: none;
  height: 48px;
  border-radius: 40px;
  text-align: center;
  grid-column: span 6;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-top: 18px;
  margin-top: 80px;

}

.prototype-buttonLoFiWIREFRAMES {
  display: inline;
}


/*.SitemapUserFlowImage {
  margin: 0 auto;
  display: grid;
  grid-column: span 6;
  max-width: 696px;


}*/

.survey-snap {
  display: grid;
  grid-column:span 6;
  margin: 0 auto;
  max-width: 980px;

}

.customer-journey-map {
  display: grid;
  grid-column:span 6;
  margin: 0 auto;
  width: 696px;
}

.SitemapImage {
  display: grid;
  grid-column:span 6;
  margin: 0 auto;
  margin-top: 155px;
  width: 696px;
}

.SitemapImageStripedHorses {
  display: grid;
  grid-column:span 6;
  margin: 0 auto;
  margin-top: 55px;
  width: 696px;
}




.Gridmacbook {
  display: grid;
  grid-template-columns: 3fr 3fr;
  /*grid-gap: 16px;*/
  padding-left: 112px;
  padding-right: 112px;
  grid-row-gap: 50px;
  margin-top: 60px;
}

.GridmacbookWIREFRAMES {
  display: grid;
  grid-template-columns: 3fr 3fr;
  padding-left: 112px;
  padding-right: 112px;
  margin-top: 60px;

}

.ListUserTesting {
  max-width: 412px;
  margin: 0 auto;
  margin-top: 65px;

}


.ConceptAndBranding {
  max-width: 980px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 490px 490px ;
}

.BrandingText {
  /*max-width: 412px;*/
  /*grid-template-columns: 2fr*/
  display: grid;
  height: 300px;
  width: 412px;
}

.HealthvitaeLOGO {
  width: 537px;
}

.StyleGuideButton {
  background-color: #2CB3ED;
  width: 220px;
  font-size: 1.6em;
  font-family: 'Raleway';
  font-weight: 600;
  color: #FFFFFF;
  text-decoration: none;
  height: 48px;
  border-radius: 40px;
  text-align: center;
  grid-column: span 6;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-top: 18px;
  display: inline;
}

.lofiwireframebutton {
  background-color: #2CB3ED;
  display: grid;
  grid-column: span 6;
  margin: 0 auto;
  text-align: center;
  width: 220px;
  font-family: 'Raleway';
  letter-spacing: 0.5px;

  font-weight: 600;
  font-size: 1.6em;
  height: 48px;
  padding-top: 17px;
  border-radius: 40px;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 80px;
}

.lofiwireframebuttonStriped {
  background-color: #E3607F;
  display: grid;
  grid-column: span 6;
  margin: 0 auto;
  text-align: center;
  width: 220px;
  font-family: 'Raleway';
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 1.6em;
  height: 48px;
  padding-top: 17px;
  border-radius: 40px;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 80px;
}

.hifimockupbutton {
  background-color: #2CB3ED;
  display: grid;
  grid-column: span 6;
  margin: 0 auto;
  text-align: center;
  width: 300px;
  font-family: 'Raleway';
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 1.6em;
  height: 48px;
  padding-top: 17px;
  border-radius: 40px;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 80px;
}


.sketchesDuo {
  width: 490px;

  /*grid-template-columns: 4fr;*/
  padding-top: 150px;
}

.LogoGrid {
  display: grid;
  grid-column: span 6;
  margin-top: 80px;

}

.HealthvitaeLOGO {
  margin: 0 auto;

}

.PreferenceGrid {
  /*background-color: yellow;*/
  display: grid;
  grid-template-columns: 3fr 3fr;
  margin: 0 auto;
  width: 980px;
  grid-column-gap: 94px;
  margin-top: 50px;
}

/*.PreferenceWidth {
  grid-column: span 6;
}*/

.OneLeft {
  grid-column: 3fr;
  width: 443px;
  /*background-color: lightblue;*/
  margin: 0 auto;

}

.OneRight {
  grid-column: 3fr;
  width: 443px;
  /*background-color: lightgreen;*/
  margin: 0 auto;
  padding-top: 81px;

}

.TwoLeft {
  grid-column: span 6;
  width: 980px;
  /*margin: 0 auto;*/
}

.TwoRight {
  grid-column: span 6;
  width: 980px;
  /*margin: 0 auto;*/
}

.ThreeLeft {
  grid-column: 3fr;
  width: 443px;
  margin: 0 auto;
  /*background-color: pink;*/

}

.ThreeRight {
  grid-column: 3fr;
  width: 443px;
  margin: 0 auto;
  padding-top: 81px;


}


.BrandingButton {
  display: grid;
  grid-column: span 6;
  margin-top: 80px;
}

.UsabilityTesting {
  max-width: 980px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 411px 537px ;
  grid-gap: 32px;
  /*background-color: #fff;*/
}

.UsabilityTestingText {
  display: grid;
  height: 420px;

}

.ImageRight {
  display: grid;
  margin-top: 190px;

}

.ImageBottom {
  display: grid;
  grid-column: span 6;
  /*background-color: blue;*/
  width: 980px;
  margin-top: 24px;
}

.ConclusionandButton {
  width: 800px;
  margin: 0 auto;
}


.Prototypebuttonend {
  margin: 0 auto;
  display: grid;
  grid-column: span 6;
  margin-top: 80px;
}

.PrototypebuttonendStriped {
  margin: 0 auto;
  display: grid;
  grid-column: span 6;
  margin-top: 80px;

}

.BackToTopButtonEnd {
  display: grid;
  grid-template-columns: 2fr;
  margin-top: 80px
}

.BackToTopButton {
  display: grid;
  grid-column: span 6;
  padding-left: 720px;
}


footer {
  margin-top: 190px;

}

.gridfooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /*padding-left: 230px;
  padding-right: 230px;*/
  width: 980px;
  margin: 0 auto;

}

.GridFooterText {
  display: grid;
  grid-column: span 3;
  padding-top: 40px;
}

.ResumeandPdfIcon {
  display: grid;
  grid-column: span 5;
  /*background-color: pink;*/
  margin-right: 630px;

}

/*.GridEmail {
  background-color: orange;
  display: grid;
  grid-column: span 3;
  text-align: right;
  margin-left: 250px;
  margin-bottom: 50px;
  padding-top: 5px;
}*/


.icons {
  /*background-color: lightblue;*/
  display: grid;
  grid-column: span 1;
  grid-template-columns: 2fr 2fr 2fr;
  padding-left: 30px;
  margin: 0 auto;
  padding-top: 42px;
  grid-gap: 32px;

}

.EmailICON {
  display: grid;
  grid-column: 2fr;
}

.LinkedinICON {
  display: grid;
  grid-column: 2fr;
}

.GithubICON {
  display: grid;
  grid-column: 2fr;
}


.CopyrightAndButton {
  /*background-color: lightgreen;*/
}

.backtotopfooter {
  display: none;
}


}










}

@media screen and (min-width: 1199px){



}





/* Media Query */
